body{
	background-color: gray;
}
#main_body {
    margin: 40px;
    background-color: #d0b796;
    width: 1000px;
    height: 500px;
}
#para{
	font-size: 80px;
	color: white;
}
#c1 {
	position: relative;
	left: 216px;
	top :100px;
	background-color: red;
	border: solid #de0202 0px;
	height: 50px;
	width: 50px;
	border-radius: 30px;
}
#c2{
    position: relative;
    top: 249px;
    left: 800px;
    width: 200px;
    height: 200px;
    background-color: #8b8bdc;
    border-radius: 110px;
}
#c3{
    position: absolute;
    top: 313px;
    left: 815px;
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 110px;
}
#c4{
    position: absolute;
    left: 600px;
    top: 100px;
    width: 100px;
    height: 60px;
    background-color: #6b9a5c;
    border-radius: 0px 107px;
}
#c5{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    top: 400px;
}
#c6{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 50px;
    height: 50px;
    background-color: #5d0909;
    border-radius: 110px;
}
#c7{
    position: absolute;
    width: 30px;
    left: 400px;
    height: 30px;
    border-radius: 30px;
    background-color: yellow;
    top: 100px;
}
#c8{
    position: absolute;
    top: 100px;
    left: 140px;
    width: 40px;
    height: 40px;
    background-color: #3c456b;
    border-radius: 110px;
}
#c9{
    position: absolute;
    top: 116px;
    left: 120px;
    width: 45px;
    height: 45px;
    background-color: #7c8dd0;
    border-radius: 110px;
}
#c10{
    position: absolute;
    left: 720px;
    top: 65px;
    width: 100px;
    height: 89px;
    background-color: #4e544c;
    border-radius: 100px 0px;
}
#c11{
    position: absolute;
    top: 287px;
    left: 897px;
    width: 150px;
    height: 150px;
    background-color: #d5d5ef;
    border-radius: 110px;
}
#c12{position: absolute;
	width: 30px;
	left: 460px;
	height: 40px;
	border-radius: 30px;
	background-color: #d01e78;
	top: 472px;}
#c13{
    position: absolute;
    top: 389px;
    left: 753px;
    width: 150px;
    height: 150px;
    background-color: #a8efc4;
    border-radius: 110px;
}
#c14{
    position: absolute;
    left: 328px;
    top: 135px;
}
#c15{
    position: absolute;
    top: 277px;
    left: 642px;
    width: 50px;
    height: 50px;
    background-color: #8ca724;
    border-radius: 110px;
}
#c16{
    position: absolute;
    top: 322px;
    left: 600px;
    width: 30px;
    height: 30px;
    background-color: #f3f7f6;
    border-radius: 110px;
}
#c17{
    position: absolute;
    top: 350px;
    left: 200px;
    width: 40px;
    height: 40px;
    background-color: #b11414;
    border-radius: 110px;
}
#c18{
    position: absolute;
    top: 183px;
    left: 855px;
    width: 50px;
    height: 50px;
    background-color: #717171;
    border-radius: 110px;
}
#c19{
	position: absolute;
    left: 100px;
    top: 400px;
    width: 100px;
    height: 89px;
    background-color: lightgreen;
    border-radius: 100px 0px;
}
footer{
	background-color: #251919;
	height: 40px;
	width: 100%;
	color: white;
}